body{
    padding-top: 28px;
}
/* tema light */
.lightTheme{
    background-color: #fff;
    color: #333 !important;
}
.lightTheme *{
    color: #333 !important;
}

/* tema dark */
.darkTheme{
    background-color: #222;
    color: #f8f8f8 !important;
}
.darkTheme *{
    color: #f8f8f8 !important;
}
.darkTheme .myCard{
    background-color: #151515 !important;
}
.darkTheme .myCard *{
    background: transparent !important;
}
.darkTheme .myNavbar{
    background-color: #111 !important;
}
.darkTheme .dropdown-menu{
    background: #222 !important;
}
.darkTheme .dropdown-item:hover{
    background: #393939 !important;
}
.darkTheme .myCommentCard{
    background-color: #151515 !important;
}
.darkTheme .form-control{
    color: #333 !important;
}

.myJumbotron{
    height: 300px !important; 
    background-image: url("https://cloudfront-us-east-1.images.arcpublishing.com/bostonglobe/H47HVU2CB5DPNBV6Z353AKPXQ4.jpeg");
    background-size: cover;
    background-position: center;
}

[class*=bi-star]{
    color: orange !important;
}
.themeIcon{
    font-size: 20px;
    cursor: pointer;
}
.themeIcon .bi-moon-fill{
    color: rgb(34, 93, 100) !important;
}
.postRatingStars{
    font-size: 25px;
    margin-right: 3px;
}
.editCommentModal{
    position: fixed;
    width: 80%;
    z-index: 9;
}