body{
    padding-top: 28px;
}
.lightTheme{
    background-color: #fff;
    color: #333 !important;
}
.lightTheme *{
    background-color: #fff;
    color: #333 !important;
}
.darkTheme{
    background-color: #222;
    color: #f8f8f8 !important;
}
.darkTheme *{
    background-color: #222 !important;
    color: #f8f8f8 !important;
}
.darkTheme .myCard{
    background-color: #1a1a1a !important;
}
.darkTheme .myCard *{
    background: transparent !important;
}
.darkTheme .myNavbar{
    background-color: #111 !important;
}
.darkTheme .myNavbar *{
    background: transparent !important;
}

.myJumbotron{
    height: 300px !important; 
    background-image: url("https://img.freepik.com/free-photo/book-that-has-word-mountain-it_188544-12612.jpg?w=1380&t=st=1688558124~exp=1688558724~hmac=df441f81ce4ba3b04eab08fbfe33b7f3aa29de0727d682d1c5d293267846e627")
}

[class*=bi-star]{
    color: orange !important;
}
.themeIcon{
    font-size: 20px;
    cursor: pointer;
}
.themeIcon .bi-moon-fill{
    color: rgb(34, 93, 100) !important;
}
.postRatingStars{
    font-size: 25px;
    margin-right: 3px;
}
.editCommentModal{
    position: fixed;
    width: 80%;
    z-index: 9;
}