.lightTheme{
    background-color: rgb(255, 255, 255);
    color: #333 !important;
}
.lightTheme *{
    background-color: rgb(255, 255, 255);
    color: #333 !important;
}
.darkTheme{
    background-color: #222;
    color: #f8f8f8 !important;
}
.darkTheme *{
    background-color: #222;
    color: #f8f8f8 !important;
}
.darkThemeBody{
    /* background: linear-gradient(to top, #333, #222 ); */
    background: linear-gradient(to left, #111, #333 );
}
